:root {
    --home-background-color: #1A120B;
    --home-font-color: #efefef;
    --product-background: #cacaca;
    --btn-hover: #3F2305;
    --home-secondary-font-color: #282828;
}

.home-main-content {
    background-color: var(--home-background-color);
    color: var(--home-font-color);
}

.home-main-section {
    background-image: url(./images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 1;
}

.products-section {
    height: 100%;
    text-align: center;
    padding: 7em 0;
}

.products-main-text {
    font-size: 4rem;
    text-align: center;
}

.products-section .product-title {
    margin-top: 1em;
}

.products-section p {
    width: min(800px, 100%);
    font-size: 1.5rem;
    margin: 1em auto;
}

.products-section button,
.form-field button {
    background-color: transparent;
    color: var(--home-font-color);
    font-family: 'Nunito', sans-serif;

    border: 1px solid;
    padding: 10px 15px;
    cursor: pointer;

    transition: all .2s ease;
}

.products-section button:hover:not(.view-more-btn),
.form-field button:hover {
    background-color: var(--btn-hover);
}

.products-section .view-more-btn {
    margin: auto;
    padding: 10px 30px;
    margin-top: 5em;

    position: relative;
}

.products-section .view-more-btn:hover:not(.btn-text) span {
    transform: translate(5px);
}

.products-section .view-more-btn span,
.products-section .view-more-btn span i {
    display: flex;
    align-items: end;

    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-40%);

    transition: all .3s ease;
}

.products-wrapper {
    width: min(1000px, 95%);
    margin: 2em auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: minmax(150px, 1fr);
    gap: 2em;
}

.products-wrapper img {
    width: 100%;
    transition: all .3s ease;
}

.products-wrapper img:hover {
    transform: scale(1.05);
}

.image-product-wrapper {
    overflow: hidden;
    
    display: flex;
}

.quote-section {
    width: 100%;
    height: 600px;
    background-image: url(./images/quote-background.jpg);
    background-size: cover;
    background-position: bottom;

    position: relative;
}

.quote-section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 600px;
    background-color: #000a;
}

.quote {
    position: absolute;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    font-size: 3rem;
    width: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

/* FORM SECTION START */

.form-section {
    text-align: center;
    padding: 4em 0;
}

.form-section h1 {
    font-size: 2rem;
}

.form-section p {
    width: min(500px, 80%);
    margin: 1em auto;
}

.form-field {
    width: min(800px, 95%);
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding: 1em;
}

.form-field fieldset {
    display: flex;
    justify-content: center;
    gap: 1em;
    border: none;
}

.form-field fieldset div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.hidden {
    visibility: hidden;
}

.form-field label {
    font-size: 1.5rem;
}

.form-field select {
    padding: 10px;
    background: transparent;
    border: 1px solid var(--home-font-color);
    color: var(--home-font-color);
    font-family: 'Nunito', sans-serif;
}

.form-field fieldset textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: transparent;
    border: 1px solid var(--home-font-color);
    color: var(--home-font-color);
}

.form-field fieldset textarea::-webkit-scrollbar {
    display: none;
}

.form-field fieldset input::-webkit-input-placeholder,
.form-field fieldset textarea::-webkit-input-placeholder {
    color: #efefef;
}

.form-field fieldset div input {
    width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    border: 1px solid var(--home-font-color);
    color: var(--home-font-color);
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
}

/* FORM SECTION END */